<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>
        <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/bootstrap-theme.min.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/font-awesome.min.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/DataTables-1.10.2/media/css/jquery.dataTables.min.css")" rel="stylesheet" type="text/css" />

        @{
            if (Request.Cookies["style"] == null)
            {
                <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css"/>
            }
            else
            {
                if (Request.Cookies["style"].Value == "LowVision")
                {
                    <link href="@Url.Content("~/Content/lowVision.css")" rel="stylesheet" type="text/css" />
                }
                if (Request.Cookies["style"].Value == "General")
                {
                    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />
                }
            }

        }

        <script src="/Scripts/require.js"></script>
        <script src="/Scripts/main.js"></script>

    </head>

    <body>
        @{
            Html.RenderAction("ManagementMenu", "Navigation");
        }
    <div class="row">
        @using (Html.BeginForm("LowVision", "Style"))
        {
            @Html.Hidden("StyleName", "LowVision")
            <div class="form-actions center">
                @Html.ActionLink("Слабовидящий", "Set", "Style", new { styleName = "LowVision" }, null)
                @Html.ActionLink("Обычный", "Set", "Style", new { styleName = "General" }, null)
                <button type="button" class="btn btn-primary" id="lowVisionButton">Слабовидящий</button>
                <button type="button" class="btn btn-primary" id="generalStyleButton">Обычный</button>
            </div>
        }
        <div class="col-md-12 banner">
            <img src="../../Content/pic/banner.png" class="center-block"/>

        </div>
    </div>
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
                @{
                    Html.RenderAction("MainMenu", "Navigation");
                }
                <div class="content">
                    @RenderBody()
                </div>


            </div>
            <div class="col-md-3">
            </div>
        </div>

        <script type="text/javascript">
            require(['jquery', 'bootstrap', 'layout', 'app/@ViewContext.RouteData.Values["controller"]/@ViewContext.RouteData.Values["action"]'], function ($, bootstrap, layout, view) {
                layout.Initialize();
                view.Initialize();
            });
        </script>

        @RenderSection("scripts", required: false)
</body>
</html>
