<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>
        <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/bootstrap-theme.min.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/DataTables-1.10.2/media/css/jquery.dataTables.min.css")" rel="stylesheet" type="text/css" />
    
        <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />

        <script src="@Url.Content("~/Scripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery-ui-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/DataTables-1.10.2/media/js/jquery.dataTables.min.js")" type="text/javascript"></script>
    </head>

    <body>
        @{
            Html.RenderAction("ManagementMenu", "Navigation");
        }
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <div class="banner row">
                    <div class="col-md-1">
                        <img src="/Content/pic/logo.png" style="margin: 5px">
                    </div>
                    <div class="col-md-11">
                        <a href="http://maket.t034.ru">СДЮСШОР №9</a>
                        <p>муниципальное образовательное учреждение дополнительного образования детей Специализированная детско-юношеская спортивная школа олимпийского резерва № 9 г.Волгограда</p>
                    </div>
                </div>
                @{
                    Html.RenderAction("MainMenu", "Navigation");
                }
        
                @RenderBody()
                
                
                <div class="footer row">
                    <hr>
                    <div class="col-md-12">
                        <p>Настоящее учреждение основано в 1971 году.Приказ г Волгоградского городского отдела народного образования № 328 от 22 сентября 1971 года «Об открытии детско-юношеской спортивной школы № 9»</p>
                        <a href="http://maket.t034.ru"style="text-align: center" >2011-2015 &copy;СДЮСШОР №9</a>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </body>
</html>
