<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap-theme.min.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>
</head>

    <body>
        @{
            Html.RenderAction("Auth", "Home");
        }
        <ul class="nav nav-tabs">
            <li>
                @Html.ActionLink("Новости", "Index", "News")
            </li>
            <li><a href="#">Документы</a></li>
            <li><a href="#">Контакты</a></li>
        </ul>
        @RenderBody()
    </body>
</html>
