@model T034.ViewModel.NewsViewModel
@{
    ViewBag.Title = "Редактирование новости";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="@Url.Content("~/Scripts/ckeditor/ckeditor.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/ckeditor/adapters/jquery.js")" type="text/javascript"></script>

@using (Html.BeginForm("AddOrEdit", "News"))
{
    <legend>Редактирование новости</legend>
    <div class="control-group warning">
        <label class="control-label">Заголовок</label>
        <div>
            @Html.TextBoxFor(m => m.Title, new Dictionary<string, object> { { "class", "input-xxlarge" } })
            @Html.HiddenFor(m => m.Id)
        </div>

        <label class="control-label">Краткое описание</label>
        <div>
            @Html.TextBoxFor(m => m.Resume)
        </div>
    
        <label class="control-label">Содержание</label>
        <div>
            @Html.TextAreaFor(m => m.Body)
        </div>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Сохранить изменения</button>
        <button type="button" class="btn">Отмена</button>
        @if (Model.Id > 0)
        {
            <div>@Html.ActionLink("Удалить", "Delete", new { id = Model.Id })</div>
        }
    </div>
}

<script type="text/javascript">
    CKEDITOR.replace('Body', {
        filebrowserImageBrowseUrl: '/Upload/UploadPartial',
        filebrowserImageUploadUrl: '/Upload/Uploadnow',

        filebrowserBrowseUrl: '/Upload/UploadPartial',
        filebrowserUploadUrl: '/Upload/Uploadnow'
    });

    function updateValue(id, value) {
        // this gets called from the popup window and updates the field with a new value
        var jqueryObjectByClass = $(".cke_dialog_ui_input_text")[1];
        jqueryObjectByClass.value = value;
    }
</script>