@model IEnumerable<T034.ViewModel.NewsViewModel>

@{
    ViewBag.Title = "Новости";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.ActionLink("Добавить", "AddOrEdit", "News")

<h2>Новости</h2>

<table id="table_id" class="display">
    <thead>
        <tr>
            <th>Заголовок</th>
            <th>Пользователь</th>
            <th>Операции</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
    <tr>
        <td>@item.Title</td>
        <td>@item.UserName</td>
        <td>
            @Html.ActionLink("Подробнее", "Index", new { id = item.Id })
            @Html.ActionLink("Редактировать", "AddOrEdit", new { id = item.Id })
        </td>
      </tr>
    }
    </tbody>
</table>

<script language="javascript">
    $(document).ready(function(){
        $('#table_id').DataTable({
            "language": {
                "url": "@Url.Content("~/Content/DataTables-1.10.2/dataTables.russian.langs")"
            }
        });
    });
</script>    