@using T034.Models
@model T034.ViewModel.FolderViewModel

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table>
    @{
    
        foreach (var item in Model.Files)
        {
            <tr>
                <td><a href="@item.Url">@item.Name</a></td>
                <td id="tdCommand">@Html.ActionLink("Удалить", "DeleteFile", "Folder", new { url = item.Url }, null)</td>
            </tr>
        }

        foreach (var item in Model.SubDirectories)
        {
            <div class="list-group">
                @Html.ActionLink(item.Name, "Edit", "Folder", new { folder = string.Format("{0}{1}/", Model.Name, item.Name) }, new { @class = "list-group-item active" })
                @foreach (var fileViewModel in item.Files)
                {
                    <a class = "list-group-item" href="@fileViewModel.Url">
                        <img class="file-icon" src="@fileViewModel.FileIcon">@fileViewModel.Name</a>
                }
            </div>
        }
    }
</table>

@Html.Partial("FileUploadPartialView", new FileUploadModel
{
    Url = "UploadFile",
    Folder = Model.Name
})
