@using T034.Models
@model T034.ViewModel.FolderViewModel

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{

    <h2>@Model.Name</h2>
    @Html.ActionLink("Вверх", "Edit", "Folder", new { id = Model.ParentFolderId }, null)
    using (Html.BeginForm("CreateFolder", "Folder"))
    {
        <div  class="input-group">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", Value = "" })
            @Html.HiddenFor(m => m.ParentFolderId, new { Value = Model.Id > 0 ? Model.Id : (int?)null })
            <span class="input-group-btn">
                <button type="submit" class="btn btn-success">Создать</button>
              </span>
        </div>
    }
        
    <div class="list-group">
        @if (Model.Files != null)
        {
            foreach (var item in Model.Files)
            {
                <a class = "" href="@item.Url">
                    <img class="file-icon" src="@item.FileIcon">@item.Name</a>
                @Html.ActionLink("Удалить", "DeleteFile", "Folder", new { id = item.Id }, null)
                <br>
            }
        }
    </div>
    if (Model.SubDirectories != null)
    {
        foreach (var item in Model.SubDirectories)
        {
            <div class="list-group">
                @Html.ActionLink(item.Name, "Edit", "Folder", new { id = item.Id }, new { @class = "list-group-item active" })
                @foreach (var fileViewModel in item.Files)
                {
                    <a class = "list-group-item" href="@fileViewModel.Url">
                        <img class="file-icon" src="@fileViewModel.FileIcon">@fileViewModel.Name</a>
                }
            </div>
        }
    }
}

@if (!string.IsNullOrEmpty(Model.Name))
{
    using (Html.BeginForm("DeleteFolder", "Folder"))
    {
        @Html.HiddenFor(m => m.Name)
        @Html.HiddenFor(m => m.Id)
        <div class="form-actions">
            <button type="submit" class="btn btn-danger">Удалить папку @Model.Name</button>
        </div>
    }
    @Html.Partial("FileUploadPartialView", new FileUploadModel
{
    Url = "/Folder/UploadFile",
    Folder = Model.Id.ToString()
})
}