@model T034.ViewModel.LogonViewModel

@{
    ViewBag.Title = "Вход";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-offset-3 col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Вход
                </h3>
            </div>
            <div class="panel-body">
                @Html.ValidationSummary(true)

                @using (Html.BeginForm("Login", "Authentication", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    <div class="form-group">
                        @Html.LabelFor(m => m.Login, new { @class = "control-label" })
                        <div>
                            @Html.TextBoxFor(m => m.Login, new { @class = "form-control", disabled = "" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                        <div>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", disabled ="" })
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary pull-right" disabled="">Войти</button>
                    </div>
                }
                <div class="row text-center">

                    @foreach (var loginInfo in Model.Clients)
                    {
                        <div class="col-md-6">
                            @Html.ActionLink(string.Format("Log In ({0})", loginInfo.ProviderName), "Login", "Account", new { providerName = @loginInfo.ProviderName }, null)
                        </div>

                    }

                    @*<div class="col-md-6">
                        <a class="" href="@Url.Action("RedirectToYandex", "Auth")">
                            <img src="/Content/pic/yandex_icon.png" height="25px" width="25px" alt="Войти при помощи Яндекса" />
                        </a>

                        @using (Html.BeginForm("RedirectToYandex", "Auth"))
                        {
                            @Html.Hidden("token")
                        }
                    </div>
                    <div class="col-md-6">
                        <a class="" href="@Url.Action("RedirectToMail", "Auth")">
                            <img src="/Content/pic/mailru_icon.png" height="25px" width="25px" alt="Войти при помощи Mail.Ru" />
                        </a>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</div>

